.footer {
    background-color: var(--background-section);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.75em;
    font-family: 'VT323', monospace;
}

.footer * {
    font-family: 'VT323', monospace;
}

.footer-information {
    color: var(--primary-color);
    margin-left: 1.875em;
}

.social-media {
    box-sizing: border-box;
}

.social-media ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social-media li {
    margin-right: 1em;
}

a {
    text-decoration: none;
    color: var(--terciary-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-selected);
}

a:active {
    color: var(--link-selected);
}

.copyright {
    color: var(--primary-color);
    margin-right: 1.875em;
}